---
import { SITE } from '~/utils/config';
---
<span class="w-6 h-6 md:-mt-0.5 bg-cover float-left rtl:float-right rounded-sm bg-[url(/src/assets/images/logo-light.png)] dark:bg-[url(/src/assets/images/logo-dark.png)]">
</span>
<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  {SITE?.name}
</span>
