---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: '工具函数',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="工具函数"
    actions={[ 
      { variant: 'primary', target: '_blank', text: 'Get Started', href: getPermalink('/documents/pre-launch') }, 
      { text: '了解更多', href: '#features' }
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'AstroWind Hero Image',
    }}
  >
  <Fragment slot="title">
    使用我们令人惊叹的工具函数<span class="hidden sm:inline"></span> 增强 <span
      class="text-accent dark:text-white highlight">AI</span
    > 项目
  </Fragment>

  <Fragment slot="subtitle">
    探索<span class="font-semibold"> 嘉林数据 </span>精心打造的的工具函数，无论是宏观数据还是香蕉价格，我们提供你所需的工具。
  </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    id="features"
    title="探索我们的工具函数"
    subtitle="在下方发现我们的工具函数，为你的项目提供简化和提升的解决方案。"
    columns={3}
    items={[
      {
        title: '指标概览',
        description:
          '获取指定指标的最新数据，包括时间节点、所属国家或地区、名称属性、最新值、单位、货币单位、同比变化。',
        icon: 'tabler:clock-24',
      },
      {
        title: '指标详情',
        description:
          '获取指定指标的所有历史数据，包括时间节点、所属国家或地区、名称属性、最新值、单位、货币单位、同比变化。',
        icon: 'tabler:history',
      },
      {
        title: '指标节点',
        description:
          '获取指定时间的指标数据，包括时间节点、所属国家或地区、名称属性、最新值、单位、货币单位、同比变化。',
        icon: 'tabler:click',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: '极简代码',
        description:
          '少量代码，甚至一行即可完成工具函数的调用。',
        icon: 'tabler:code',
      },
      {
        title: '异常处理',
        description:
          '异常返回对LLM友好，你只需要专注自己的程序设计。',
        icon: 'tabler:bug-off',
      },
      {
        title: 'Python支持',
        description:
          '提供官方Python包支持。',
        icon: 'tabler:brand-python',
      },
      {
        title: 'HTTP支持',
        description:
          '提供官方HTTP协议接口支持。',
        icon: 'tabler:http-get',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">主要特性</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: '节省时间',
        description:
          '优化你的工作流程，使你能够高效地创建令人惊叹的AI项目，并将更多时间分配给核心任务。',
        icon: 'tabler:clock',
      },
      {
        title: '专业表现',
        description:
          '通过我们的工具函数提升你的AI项目，给你的客户留下持久的印象。',
        icon: 'tabler:school',
      },
      {
        title: '成本效益',
        description:
          '我们的工具函数只需一小部分成本就可以提供专业级的数据响应。',
        icon: 'tabler:coin',
      },
      {
        title: '即时响应',
        description:
          '注册后选定你的使用计划，即可访问，使您能够毫不拖延地开始项目工作。',
        icon: 'tabler:presentation',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1552664688-cf412ec27db2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">好处</h3>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    id="testimonials"
    title="来自真实客户的评价"
    testimonials={[
      {
        testimonial: `The designs are not only visually appealing but also highly professional. The templates have saved me a significant amount of time while helping me make a lasting impression on my clients.`,
        name: 'Emily Kennedy',
        job: 'Front-end developer',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Emily Kennedy Image',
        },
      },
      {
        testimonial: `It beautifully showcases my work, with its clean and elegant design that lets my photographs shine. Customization was a breeze, even for a non-tech person like me. The result is a professional and immersive portfolio that's garnered numerous compliments.`,
        name: 'Sarah Hansen',
        job: 'Photographer',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial: `I discovered these templates and I'm impressed by their variety and quality. They've helped me establish a consistent brand image across my marketing and social platforms, elevating my business's overall appearance.`,
        name: 'Mark Wilkinson',
        job: 'Small business owner',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },
      },
    ]}
    callToAction={{
      // target: '_blank',
      text: '更多评价...',
      href: '#testimonials',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[{
      variant: "primary",
      text: '开始使用',
      href: '/',
    }]}
    title="深入我们的工具函数"
    subtitle="无论您是从事前端、后端还是IT工作，我们的工具函数都可以提升你的AI项目。"
  />
</Layout>
